<section class="skills" id="skills">
  <!-- <div class="container"> -->
  <header class="skills-header">
    <h2>Skills</h2>
    <p>Check out some of my tech skills sets are listed below.</p>
  </header>

  <div class="skill">
    <div class="skill-content">
      <!-- <span class="category-tag tag-fintech">Fintech</span> -->
      <h3>Responsive developments</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. sed do eiusmod
        tempor incididunt ut labore et dolore magna.
      </p>
      <!-- <button class="view-case-btn btn-fintech">View case study</button> -->
    </div>
    <div class="skill-image">
      <img
        src="../assets/undraw_dev-productivity_5wps.png"
        alt="undraw_dev-productivity_5wps"
      />
    </div>
  </div>

  <div class="skill">
    <div class="skill-content">
      <!-- <span class="category-tag tag-edtech">EdTech</span> -->
      <h3>Adapts quickly to new technology</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. sed do eiusmod
        tempor incididunt ut labore et dolore magna.
      </p>
      <!-- <button class="view-case-btn btn-edtech">View case study</button> -->
    </div>
    <div class="skill-image">
      <img
        src="../assets/undraw_space-exploration_dhu1.png"
        alt="undraw_space-exploration_dhu1"
      />
    </div>
  </div>

  <div class="skill">
    <div class="skill-content">
      <!-- <span class="category-tag tag-pharma">Pharma</span> -->
      <h3>Manages time effectively to meet deadlines</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. sed do eiusmod
        tempor incididunt ut labore et dolore magna.
      </p>
      <!-- <button class="view-case-btn btn-pharma">View case study</button> -->
    </div>
    <div class="skill-image">
      <img
        src="../assets/undraw_segment-analysis_cl30.png"
        alt="undraw_segment-analysis_cl30"
      />
    </div>
  </div>
  <div class="skill">
    <div class="skill-content">
      <!-- <span class="category-tag tag-pharma">Pharma</span> -->
      <h3>Priotizes tasks effectively</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. sed do eiusmod
        tempor incididunt ut labore et dolore magna.
      </p>
      <!-- <button class="view-case-btn btn-pharma">View case study</button> -->
    </div>
    <div class="skill-image">
      <img
        src="../assets/undraw_workspace_s6wf.png"
        alt="undraw_workspace_s6wf"
      />
    </div>
  </div>

  <div class="skill">
    <div class="skill-content">
      <!-- <span class="category-tag tag-pharma">Pharma</span> -->
      <h3>Collaborates seamlessly with cross-functional teams</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. sed do eiusmod
        tempor incididunt ut labore et dolore magna.
      </p>
      <!-- <button class="view-case-btn btn-pharma">View case study</button> -->
    </div>
    <div class="skill-image">
      <img
        src="../assets/undraw_pair-programming_9jyg.png"
        alt="pair programming"
      />
    </div>
  </div>
  <!-- </div> -->
</section>
