<section class="hero">
  <div class="hero-content">
    <h1>Adekanbi Emmanuel</h1>
    <p class="intro-text">
      Hi! Welcome to my portfolio. My name is Emmanuel, I am an app developer
      who loves to solve problems through coding.
    </p>
    <button class="cta-button">
      <a href="#skills">Let's get started</a>
    </button>
  </div>
  <div class="hero-image">
    <img
      src="../assets/gallery-img1.jpg"
      alt="Profile Photo"
      class="profile-image"
    />
  </div>
</section>
